html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    color:#464646;
    background-color: #F5F5F5;
}

a{
    text-decoration: none;
}
.seccion-azul{
    clear: both;
    background-color: #EAF2FD;
    padding: 2em 9.5em;
}

.seccion-clara{   
    padding: 2em 9.5em;
}

header {
    padding: 1.25em; 
}

header a{
    text-decoration: none;
}

.caja{
    position: relative;
    width: 100%;
}

#destello{
    position:absolute;
}

#mi-nombre{
    color:#464646;  
}

h5{
    position: absolute;
    font-weight: bold;
    font-size: 1.25em;  
    margin: 0 0 0 2.5em;
}

nav{
    position: absolute;
    margin: 0 0 0 37em;
}

nav li{
    display: inline; 
    padding: 0 0 0 1em;
   
}

nav a{
    font-size: 1.25em;  
    color:#464646; 
}


#foto-perfil{
    position: relative;
    width: 18em;
    float: right;
    border-radius: 50%;
    margin: 0 9em 0 0;
}

#titulo-principal {
    position: relative;
    width: 65%;
    font-size: 3.25em;
    font-weight: 700;
    margin: 1.35em 0 0.29em 0;   
    line-height: 1.06em;
}

#subtitulo-principal{
    font-size: 1.8em;
    margin:1em 0 0 0;
    width: 60%;
    line-height: 1.25em;
    text-align: justify;
}

.lista-links{
    position: relative;
    display: inline-flex; 
    margin: 2em 0 0 0;     
}

.link {
    padding: 0 1em 0 0;
    font-weight: bold;
}

.link a{
    text-decoration-line: none;
    color: #464646;
}


.titulos-secundarios{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding: 0.3125em;
    
}

#titulo-sobreMi {
    text-align: left;
    padding: 0 0 10px 0;
}

.parrafos-sobreMi{
    padding: 20px 0 0 0;
    line-height: 24px;
    width: 95%;
    text-align: justify;
}
.skills{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.skills li{
    text-align: left;
    width: 11em; 
    height: 11em;
   
    margin: 4% 2%; 
    box-sizing: border-box;
    background-color: white;
    
}

.img-skill{
    width: 50px;;
  margin: 5em 0 0 1.25em;
}

.titulo-skill {
    font-weight: 700;
    margin: 0.8em 0 0 1.25em;
    
}


.lista-formacion{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
     
}

.curso{
    margin: 30px;
}


.p-curso{
    line-height: 25px;
    text-align: justify;
}

.titulo-formacion{
    font-weight: 700;
    font-size: 1.375em;
    line-height: 1.136em;
    margin: 0.45em 0 0.54em 0;
}

.img-academia{
    width: 300px;;
}

.año-formacion{
    margin: 0 0 1em 0;
}

.imagen-proyecto {
    margin: 1.25em 1.25em 1.25em 0 ;    
}

.titulo-proyecto {
    font-size: 1.375em;
    font-weight: bold;
    padding: 7.27em 0 0.45em 0;
}

.subtitulo-proyecto {
    padding: 0 0 0.625em 0;
}

.boton-repositorio{    
    background-color: #2A7AE4;
    border: 0;
    color: white;
    padding: 0.625em;
}

.boton-repositorio:hover{
    background-color: #16519e ;    
}

.imagen-izq {
    width: 60%;    
}

.imagen-der {
    float: right;
    width: 60%;
}

.titulo-izq {
    clear:left;
}




.curso-der{
    display: inline-block;
    vertical-align: top;
    width: 35%;
}

.img-contacto{
    
    height: 18em;
    margin: 0.625em;
    margin-left: 3em;
}



.enlace-contacto{
    text-decoration: none;
}

.texto-contacto{
    padding: 0.625em;
    line-height: 3em;
    display: inline-block;
    vertical-align:top;
    font-size: 1em;
    margin-top: 2em;
}

footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1em;
    padding: 1.25em;
    margin: 0.625em;
}


@media screen and (max-width:480px){
 body{
    width: auto;
    font-size: 14px;
 }  

 nav{
    display: none;
 }


 
 
 .seccion-azul, .seccion-clara {
    padding: 0 0 0 0;
    padding-left: 1em;

}

#foto-perfil{ 
    float:none;
    align-items: center;
    width: 50%;    
    margin-top: 2em;
    margin-right:0;
    
}

#titulo-principal{   
    margin-top:1em;     
    margin: 0 ;
    font-size: 28px;    
    width: 100%;
    
} 

#subtitulo-principal {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    width: 100%;
     
 }

 .lista-links{
    margin: 1.5em 0 2em 0;     
}

.skills{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.skills li{
    text-align: left;
    width: auto; 
    height: 6em;   
    margin: 4% 5%; 
    box-sizing: border-box;
    background-color: white;
    
}

.img-skill{
    width: 25px;;
    margin:1.5em 0 0 1.25em;
}

.titulo-skill {
    font-weight: 700;
    margin: 0.8em 0 0 0.2em;
    font-size: 12;
    
}

.lista-formacion{
    display:block;
    width: 100%;
     
}


.p-curso{
    line-height: 16px;
    text-align: left;
}


.img-academia{
    width: 80%;
}

.imagen-proyecto {
    
    margin-top: 1em 0 0 0 ;
}

.titulo-proyecto {
    font-size: 1.375em;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
    width: 100%;
}

.subtitulo-proyecto {
   padding: 0 0.5em 1em 0;
   width: 100%;
}

.imagen-izq {
    width: 90%;    
}

.imagen-der {
    float: none;
    width: 90%
}

.boton-repositorio{    
    margin: 0 0 2em 0;   
       
}

#rep-front{
    margin-bottom: 0.5em;
}

.texto-contacto{
    line-height: 2em;
    display: block;    
    margin-top: 0;
}

.img-contacto{    
    display: none;
}


footer {
   
   padding-left: 0;
   padding-right: 0;
   margin-left: 0;
}

}